*{
    /* font-family: "Merriweather", serif; */
    font-family: "Plus Jakarta Sans", sans-serif;
    
    color:white;
    
}
body{
    background-color: rgb(3, 3, 24);
}
header{
    align-content:center;
    /* align-items: normal; */
    text-align: right;
    display:block;

    font-size:18px;
    height:50px;
    padding-right:10%;
    position:fixed;
    top:0;
    right:0;
}

li.links{
    display:inline;
    margin:0px;
    padding:0px;
}

a{
    display:inline;
    text-decoration: none;
    border:1px solid rgba(255, 255, 255,0.5);
    padding:5px;
    margin:0px;
}

div{
    display:flexbox;
    /* border:1px solid white; */
    min-height:100px;
    padding:10px;
    border-radius:10px;
    margin:5px;

    /* cpy to each # of div */
    text-align: center;
    margin-top:50px;
    padding-top:100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom:100px;
}
div:hover{
    background-color:#060624;
}
div#home{
    text-align: center;
    margin-top:50px;
    padding-top:100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom:100px;
   
}

h1{
    display:inline;
    
}
#logo{
    margin-top:50px;
    display: block;
margin-left: auto;
margin-right: auto;
    background: url(logo.png) no-repeat center center;
    border:2px solid rgba(255, 255, 255,0.5);
    width:150px;
    border-radius:75px;

}

div#about{

}
div#education{

}
div#projects{

}
div#certificates{

}
div#contact{
    width:75%;
    display:inline-block;
    text-align:left;
}
input{
    background-color:#070729;
    display:block;
    border-radius:10px;
    text-decoration:none;
    margin:5px;
    padding:5px;
    border:1px solid rgba(255, 255, 255, 0.479);
}
input:hover{
    background-color:#0b0b3f;
}
#message{
    height:200px;
}
#instaimg{
    width:20px;
}
.contactlinks{
    padding:10px;
    
}
.contactinfo{
    display:inline;
    margin-top:50px;
    float: right; width: 50%;
   

}
span.contactinfo h5 a{
    border:1px solid rgba(255, 255, 255, 0.205);
} 
form{
    display:inline;
    float: left; width: 50%
}
@media (max-width: 768px) {
    header{
        font-size:10px;
        text-align: right;
    }
}